# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.OpvGamePvb.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\ma\bewijzenmap\periode 4.3\exam\examenmapje\PvBExamenGroep5\OpvGamePvb\.idea\.idea.OpvGamePvb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
