# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.OpvGamePvb.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Examen\PvBExamenGroep5\OpvGamePvb\.idea\.idea.OpvGamePvb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
